<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576286240714-juom9v863ie9unfe5fol1umti29bi36d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576286240714-juom9v863ie9unfe5fol1umti29bi36d</string>
	<key>API_KEY</key>
	<string>AIzaSyB4jvxEiwHbgHeUgApz5Q_cEZhl9-hX9f0</string>
	<key>GCM_SENDER_ID</key>
	<string>576286240714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canxkoz.banking-app</string>
	<key>PROJECT_ID</key>
	<string>mobile-bank-app-22fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-bank-app-22fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576286240714:ios:bd548e9b754aae487f2933</string>
</dict>
</plist>